body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25em;
}

nav a.selected {
    background-color: tomato;
    color: white;
    font-weight: bold;
}